@import (reference) './tokens.less';

.arco-radio-button-content {
  padding: 0 12px;
}

.message-popover {
  .arco-popover-content {
    margin-top: 0;
  }
}

.container-breadcrumb {
  .arco-breadcrumb-item {
    line-height: 14px;
    color: rgb(var(--gray-6));
    svg {
      width: 0.9em;
      height: 0.9em;
    }
    &:last-child {
      color: rgb(var(--gray-8));
    }
  }
}
