@import (reference) './tokens.less';

.arco-radio-button-content {
  padding: 0 12px;
}

.message-popover {
  .arco-popover-content {
    margin-top: 0;
  }
}

.container-breadcrumb {
  .arco-breadcrumb-item {
    color: rgb(var(--gray-6));

    &:last-child {
      color: rgb(var(--gray-8));
    }
  }
}
