// ============== layout tokens =============
@page-padding: 0 10px 20px 10px;
@breadcrumb-margin: 6px 0;

// ============== form page tokens =============
@form-item-width: 888px;
@submit-area-width: 300px;
@submit-btn-margin: 20px 30px;
@form-card-padding-top: 0px;
@form-card-padding-top-compact: 20px;

// ============== login page tokens =============
@login-card-width: 450px;
@login-min-height: 650px;

// ============== color tokens =============
@active-text-color: #0960bd;
@active-bg-color: #e3f4fc;
@link-color: #3370ff;
@link-hover-color: #6694ff;
@text-secondary-color: #80838a;
@text-primary-color: #1d2129;
@brand-gradient-start: #bd34fe;
@brand-gradient-end: #41d1ff;
