.general-card {
  &:first-child {
    padding-top: 20px;
  }
}

.arco-divider-horizontal.arco-divider-with-text {
  margin: 20px 0 30px 0;
}

.arco-divider-horizontal {
  min-width: 97%;
  max-width: 97%;
  margin-bottom: 30px;

  &:first-child {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.key-form-full-width {
  width: 100%;
}
