:deep(.arco-tabs-content) {
  padding-top: 5px;
  padding-left: 15px;
}

.spend {
  color: rgb(var(--gray-10));
  padding: 0;
}

.spend:hover {
  color: rgb(var(--link-6));
  cursor: pointer;
}

.log-list-search-divider {
  height: 84px;
}

.log-list-search-actions {
  text-align: right;
}

.log-list-toolbar-divider {
  margin-top: 0;
}

.log-list-toolbar-row {
  margin-bottom: 16px;
}

.log-list-table-actions {
  display: flex;
  align-items: center;
  justify-content: end;
}

.log-list-drag-handle {
  margin-right: 4px;
  cursor: move;
}
