.filter-bar {
  padding: 12px 16px 0px 16px;
  background: var(--color-bg-2);
  border-radius: 4px;
}

.filter-bar-divider {
  height: 76px;
}

.filter-bar-full-width {
  width: 100%;
}

.filter-bar-actions {
  text-align: right;
}
