.wrapper {
  :deep(.arco-form) {
    .arco-form-item {
      width: 100%;
    }
  }
}

.general-card {
  &:first-child {
    padding-top: 61px;
  }
}

.notice-form-full-width {
  width: 100%;
}

.notice-form-editor {
  flex: 1;
}
