.copy-btn {
  color: gray;
  cursor: pointer;
}

.copy-btn:hover {
  color: rgb(var(--arcoblue-6));
}

.task-detail-container {
  margin: 10px 0 30px 10px;
}

.task-detail-scroll-110,
.task-detail-scroll-220 {
  display: block;
  overflow: auto;
}

.task-detail-scroll-110 {
  max-height: 110px;
}

.task-detail-scroll-220 {
  max-height: 220px;
}
