.login-form {
  box-sizing: border-box;
  padding: 0 5px;

  .arco-input-wrapper,
  :deep(.arco-select-view-single) {
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border-3);
    height: 40px;
    border-radius: 4px;
    font-size: 13px;
  }

  .arco-input-wrapper.arco-input-error {
    background-color: var(--color-danger-light-1);
    border-color: var(--color-danger-light-4);
  }
}

@media (max-width: @screen-xs) {
  .account-tab {
    margin-top: 24px;

    :deep(.arco-tabs-tab) {
      margin: 0 16px 0 4px;
    }
  }
}
