@import (reference) '../../../assets/style/tokens.less';

.wrapper {
  :deep(.arco-form) {
    .arco-form-item {
      width: 1088px;
    }
  }
}

.arco-divider-horizontal.arco-divider-with-text {
  margin: 20px 0 30px 0;
}

.arco-divider-horizontal {
  min-width: 97%;
  max-width: 97%;
  margin-bottom: 30px;

  &:first-child {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.input {
  width: 762px;
}

.general-card {
  &:first-child {
    padding-top: 20px;
  }
}

.model-form-full-width {
  width: 100%;
}

:deep(.model-form-wide-input) {
  width: 762px;
}

.model-form-preset-range-input {
  width: 378px;
  margin-right: 5px;
}

.model-form-preset-range-select {
  width: 379px;
}

:deep(.model-form-keyword-input) {
  width: 373px;
  margin-right: 5px;
}

:deep(.model-form-keyword-select) {
  width: @submit-area-width;
}

.model-form-keyword-add-btn {
  margin: 0 10px 0 10px;
}

@media (max-width: @screen-md) {
  .wrapper {
    :deep(.arco-form) {
      .arco-form-item {
        width: 100%;
      }
    }
  }

  .input {
    width: 100%;
  }
}
