.card-wrap {
  height: 100%;
  transition: all 0.3s;
  border: 1px solid var(--color-neutral-3);
  border-radius: 5px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  }
  :deep(.arco-card) {
    height: 100%;
    border-radius: 5px;
    .arco-card-body {
      height: 130px;
      .arco-card-meta {
        height: 100%;
        display: flex;
        flex-flow: column;
        .arco-card-meta-content {
          flex: 1;
          .arco-card-meta-description {
            color: rgb(var(--gray-6));
            line-height: 18px;
            font-size: 12px;
            .arco-descriptions-item-label-inline {
              font-weight: normal;
              font-size: 13px;
              color: rgb(var(--gray-8));
            }
          }
        }
      }
    }
    .arco-card-meta-footer:last-child {
      margin-top: 2px;
      margin-bottom: 12px;
    }
  }
  :deep(.arco-card-meta-title) {
    display: flex;
    align-items: center;
    line-height: 28px;
  }
  :deep(.arco-card-header) {
    border: none;
  }
  :deep(.arco-skeleton-line) {
    &:last-child {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
  }
}
